# SQL

## Databases

The data required to generate web pages is usually quite complicated. Imagine navigating Netflix or Facebook. They have millions of users! Where does all that data come from? How do they organize it all? A **database** is a system for organizing large amounts of data. Most web servers maintain at least one database.

Far and away, the most common kind of database is a relational database. A **relational database** is just a way of organizing and manipulating tables of data. A table is like a spreadsheet. It's got rows and columns. Here's an example of what a product table in a relational database might look like: 

| Item                 | Price                | Description                              |
|----------------------|----------------------|------------------------------------------|
| Wrist watch          | \$599.99              | An elegant way to tell the time.         |
| Coffee grinder       | \$120.00              | A durable means to access caffeine.      |
| Sweater              | \$65.00               | Stay warm with this fashionable garment. |
| DSLR camera          | \$1200.00             | Preserve your memories in high quality.  |
| Towel                | \$42.00               | Don't forget to take this with you.      |
| Diamond necklace     | \$650.00              | Beauty and elegance.                     |

## SQL

We can store our data in nice rows and columns. So what? Data we can't interact with is not very useful. We need some way of accessing and manipulating this data. In other words, we'd like to do computation. We interact with data in a database by making queries. A **query** is a request for information. The most common language for making queries in relational databases is the Structured Query Language (SQL). SQL is surprisingly intuitive and quite powerful. We won't have time to learn at all it's capable of. There are entire courses dedicated to SQL and relational databases! We're going to focus on getting data out of an existing database.

There are many kinds of queries we can make of a database with SQL. We could ask to modify data or delete data or add new data. We're just going to learn the most basic kind of SQL query, the `SELECT` statement. This kind of query lets us retrieve data from a database. Here is an example query for the table above:

`SELECT item,price,description`  
`FROM product`

We `SELECT` the columns we'd like to view. In this case, we asked for the item, product, and price. Where do we get our data `FROM`? The database named 'product'. As you can see, SQL reads a bit like English.

Let's try this query out. We're going to run this SQL query *inside a Python program*. Lawhack has a real SQL database with the data from our product example ready and waiting for queries. Let's connect to it and make a query.

First, we have to tell our Python script how to establish a connection to the SQL database. We need a username and password. I've supplied both of those in the script below. We also need the name of the datbase. In this case, it's "example".

Once we've established the connection, we need to get a "cursor". A cursor is a datatype that lets us interact with the database. We can ask it to execute queries and retrieve data for us. Once we have the cursor, we can ask it to execute our query. Our query is just a string.

After the cursor executes our query, we can ask it for the results. This script loops through the results one row at a time and prints them out.

In [ ]:
import mysql.connector

database=mysql.connector.connect(user='webapp',         # ESTABLISH DATABASE CONNECTION
                                 passwd='Bkypqyxa',
                                 database='example')    # CONNECT TO example DATABASE
cursor=database.cursor()                                # GET CURSOR

query='''
SELECT item,price,description
FROM product
'''

cursor.execute(query)                                  # EXECUTE THE QUERY
result=cursor.fetchall()                               # GET ALL THE QUERY RESULTS
for row in result:                                     # LOOP THROUGH RESULTS
  print(row)                                           # PRINT EACH RESULT

We don't need to select all of the columns to display. If we just want to know the price, for example, we could change our query to this:

`SELECT price`  
`FROM product`

Try changing the column names in the query above and see how the results change.

If we're interested in all of the columns, there's a nice shorthand for that.

`SELECT *`  
`FROM product`

Try that query using our Python code above. You should get the same results as our original query.

## Where

Selecting all of the data in the database is not ideal. In a real database, we could have millions of rows, maybe billions. If we want to filter out some results, we can do that with the WHERE clause. Basically, we can stick a Boolean expression at the end. Only rows that satisfy that condition will be selected. Here's an example query to find the more affordable items in the product table. Try it out.

`SELECT *`  
`FROM product`  
`WHERE price<100`

We can get more fancy with our Boolean expressions. Here's another query you can try:

`SELECT *`  
`FROM product`  
`WHERE price>500 AND price<1000`

We can even filter strings based on their matching certain patterns using the keyword `LIKE`. The % symbol means "any characters". Here is a query that finds all of the products whose descriptions contain the keyword 'you'.

`SELECT *`  
`FROM product`  
`WHERE description LIKE '%you%'`

## Order By

If we query a lot of items from the database, it might be nice to see them sorted in some way. The `ORDER BY` keyword lets us do that. We can choose which column to order the results by. 

Here, we sort the products that cost more than \$50 by price.

`SELECT * `  
`FROM product `  
`WHERE price > 50`  
`ORDER BY price`  

Here, we sort the products that cost less than \$1,000 by the item name. They are sorted alphabetically.

`SELECT * `  
`FROM product `  
`WHERE price < 1000`  
`ORDER BY item`  

We can choose the sorted order to be ascending with `ASC` or descending with `DESC`.

`SELECT * `  
`FROM product `  
`WHERE price < 1000`  
`ORDER BY item DESC`

## Functions

Instead of displaying the data itself, SQL has functions we can run on query results. We'll learn three. The COUNT function returns the number of rows from a query. This query, for example, will tell us how many items cost more than \$500.

`SELECT COUNT(item)`  
`FROM product`  
`WHERE price > 500`  

There's also a SUM and AVG function that computes the sum and average value for a column. Here's a query to find out the average cost of an item in our database.

`SELECT AVG(price)`  
`FROM product`

## Limit

Sometimes, databases are really big. They have many, many rows. If we write a query, we might accidentally pull back too many results. The `LIMIT` clause lets us restrict the number of rows that come back from a query. This query, for example, retrieves the items costing more than \$50, but limits itself to returning no more than two rows:

`SELECT * `  
`FROM product `  
`WHERE price > 50`  
`ORDER BY item`  
`LIMIT 2`

Once again, [w3schools](https://www.w3schools.com/sql/) has an excellent tutorial if you'd like to learn more about SQL.

# Exercises
For the first few exercises, we'll continue to use the example database from above. For convenience, I've copied the connection code down here. All you'll need to do is change the query string.

In [ ]:
import mysql.connector

database=mysql.connector.connect(user='webapp',         # ESTABLISH DATABASE CONNECTION
                                 passwd='Bkypqyxa',
                                 database='example')    # CONNECT TO example DATABASE
cursor=database.cursor()                                # GET CURSOR

query='''
SELECT item,price,description
FROM product
'''

cursor.execute(query)                                  # EXECUTE THE QUERY
result=cursor.fetchall()                               # GET ALL THE QUERY RESULTS
for row in result:                                     # LOOP THROUGH RESULTS
  print(row)                                           # PRINT EACH RESULT

1) Write and run a SQL query to display just the description of all of the items in the product database.

2) Write and run a SQL query to display the description of items costing between \\$100 and \\$700.

3) Write and run a SQL query to display the total number of items that cost between \\$100 and \\$700.

4) Write and run a SQL query to compute the total cost of items that have the letter 'e' in their description.

We're going to connect to a more realistic database now. The developers of the relational database software we're using, MySQL, provide a test database [here](https://dev.mysql.com/doc/employee/en/). It's been installed on lawhack and is ready and waiting for your queries. The code below connects to it and counts the number of employees there are in the employees table. There's a lot of data! Be careful!

The columns of the employees table are `emp_no`, `birth_date`, `first_name`, `last_name`, `gender`, and `hire_date`.

In [ ]:
import mysql.connector

database=mysql.connector.connect(user='webapp',
                                 passwd='Bkypqyxa',
                                 database='employees')
cursor=database.cursor()

query='''
SELECT count(*)
FROM employees
'''

cursor.execute(query)
result=cursor.fetchall()
for row in result:
  print(row)

5) There is a salaries table in this database with a column called "salary". Compute the average salary.

6) Find the first and last name of the youngest employee. **Warning**: This table is big. Be sure to use the LIMIT clause to limit your results to fewer than 100. Otherwise, you'll have to do a lot of waiting.

7) How many employees are identified in as female in this cisnormative database?

8) To give you an idea of how powerful SQL can be, here's a very fancy query. What does it do?

`SELECT employees.gender,COUNT(*),AVG(salaries.salary)`  
`FROM employees NATURAL JOIN salaries NATURAL JOIN titles`  
`WHERE titles.title like '%Engineer%'`  
`GROUP BY employees.gender`